body,
button {
    font-family: 'Inter', sans-serif;
}


body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: #ECFDF5;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    width: 550px;
    height: 550px;
    margin: auto;
    padding: 52px;
    box-sizing: border-box;
    border: 1px dotted black;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.highlight {
    color: #10B981;
}

.input {
    border-bottom: 1px solid #D5D4D8;
}

.input p {
    font-size: 20px;
    font-weight: 400;
    color: #6B7280;
}

.input button {
    margin: 50px 0 35px 0;
    padding: 9px 15px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    background: #10B981;
    color: white;
    border: none;
    border-radius: 6px;
}

.output {
    margin: 35px 0 0 0;
    display: flex;
    justify-content: space-between;
}


.password-box {
    width: 211px;
    height: 39px;
    border-radius: 6px;
    background: #273549;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password {
    color: #5DEF92;
}